h1 {
	display: none;
}

.overlay #skip-link {
  margin-top: -20px;
}
.overlay #skip-link a {
  color: #fff; /* This is white to contrast with the dark background behind it. */
}

#content {
	padding-top: 80px;
}

#content .layout-wrapper {
	margin: 22px 0 62px;
}

#content .box {
	background-color: #fff;
	padding: 20px 34px 22px;
	border-radius: 5px;
	min-height: 270px;
	box-shadow: 0px 0px 9px rgba(0,0,0,0.3);
}

#content .box.right {
	margin-top: 20px;
}

@media (min-width: 992px) {
	#content .layout-wrapper {
		margin: 80px 0 170px;
	}

	#content .box.left {
		margin-left: 15px;
	}

	#content .box.right {
		margin-top: 0;
		margin-right: 15px;
	}	
}

body {
	background-image: url('../images/bg_cycle/1.jpg');
	background-position: center 110px;
	background-repeat: no-repeat;
	background-size: cover;
}

h2 {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 15px;
	padding: 0 0 15px;
	border-bottom: none;
}

.box h2:after {
	border-bottom: 2px #0065bd solid;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    width: 15%;
}

.box form div.username-wrapper,
.box form div.password-wrapper {
	position: relative;
}

.box input#username,
.box input#password {
	margin-bottom: 13px;
	padding-left: 64px;
	outline: 0;
}

.box form div.username-icon,
.box form div.password-icon {
	position: absolute;
	height: 100%;
	width: 60px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	padding: 7px 18px;
	overflow: hidden;
}

.box form div.username-icon:before,
.box form div.password-icon:before {
    content: '';
    position: absolute;
    background-color: rgba(0,0,0,0.1);
    border-right: 1px solid rgba(0,0,0,0.1);
    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    -ms-transform: skew(-30deg);
    transform: skew(-30deg);
    width: 65px;
    height: 100%;
    z-index: 1;
    right: 10px;
    top: 0;
}

.box form div.username-icon:after {
	content: '\f007';
	font-family: 'FontAwesome';
	position: absolute;
	z-index: 1;
}

.box form div.password-icon:after {
	content: '\f13e';
	font-family: 'FontAwesome';
	position: absolute;
	z-index: 1;
}

.box span.help-text {
	color: #666968;
	display: inline-block;
	margin-bottom: 13px;
}

.box .btn-group.submit {
	margin-right: 20px;
}

.box .btn.btn-primary {
	border: none;
	font-size: 15px;
	padding: 10px 44px;
}

.box .help-links a {
	display: block;
}

.region-after-footer {
	background-color: #fff;
    position: absolute;
    width: 100%;
    left: 0;
}

#site-footer .csusb-separator:after {
	content: url('../images/separator.png');
}